<!-- app/views/devise/registrations/edit.html.erb -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <h2 class="text-center mb-4">Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="alert alert-warning mt-2">
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>

          <%= f.input :password,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { class: 'form-control', autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { class: 'form-control', autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "We need your current password to confirm your changes",
                      required: true,
                      input_html: { class: 'form-control', autocomplete: "current-password" } %>

          <!-- Profile Picture Field -->
          <%= f.input :photo, as: :file, label: "Profile Picture", hint: "Upload a new profile picture", input_html: { class: 'form-control-file' } %>

          <!-- Username Field -->
          <%= f.input :username, required: true, label: "Username", input_html: { class: 'form-control' } %>
        </div>

        <div class="form-actions mt-4 text-center">
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
      <% end %>

      <h3 class="text-center mt-5">Cancel my account</h3>

      <div class="text-center">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>

      <div class="text-center mt-3">
        <%= link_to "Back", :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
