<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
</head>
<div class="grid-container bg" data-controller="confetti-click" data-confetti-click-target="click"   data-controller="confetti">
  <div class="show-title">
    <div>
      <div class="show-title">
        <div style="display: flex; align-items: center; white-space: nowrap;">
          <h1>YOUR</h1>
          <h1 class="yellow-text" style="margin-left: 10px;">
            PLANS TONIGHT</h1>
        </div>
        <div style="display: flex; white-space: nowrap;">
          <h1>HAVE BEEN CONFIRMED</h1>
        </div>
      </div>
    </div>
    <!-- Bar Image-->
    <div class="image-bar" style="margin-top: 24px;">
      <div class="image">
        <% @bar.photo %>
        <%= cl_image_tag @bar.photo.key, width: 800, height: 450, crop: :fill, class: "img-fluid", alt: "Main image" %>
      </div>
    </div>
    <!-- Bar Description -->
    <div class="description-container" style="padding-top: 32px;">
      <div class="bar-description">
        <div style="margin-bottom: 16px;">
          <h2><%= @bar.name.upcase %></h2>
          <h3><strong>ADDRESS: </strong><%= @bar.address %></h3>
        </div>
        <div class="bar-description-details"  style="display: flex; justify-content: space-between;">
          <div class="column-left">
            <h3><strong>DATE: </strong><%= @plan.date_time.strftime("%F") %></h3>
            <h3><strong>TIME: </strong><%= @plan.date_time.strftime("%I:%M%p") %></h3>
            <h3>
              <strong>SMOKING: </strong>
              <% if @bar.smoking %>
                <i class="fas fa-smoking"></i>
              <% else %>
                <i class="fas fa-ban"></i>
              <% end %>
            </h3>
            <h3>
              <strong>FOOD: </strong>
              <% if @bar.food %>
                <i class="fas fa-utensils"></i>
              <% else %>
                <i class="fas fa-ban"></i>
              <% end %>
            </h3>
          </div>
          <div class="column-right">
            <h3><strong>MOOD: </strong><%= @bar.mood.upcase %></h3>
            <h3><strong>PRICE: </strong><%= @bar.price %></h3>
            <h3><strong>SPECIALTY: </strong><%= @bar.alcohol.upcase %></h3>
            <h3><strong><%= link_to 'VIEW WEBSITE', @bar.url, style:"text-decoration: none; color: #FFD74D; display: block; overflow-wrap: break-word;" %></strong></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Add to Calendar -->
    <div class="show-element" style="margin-top: 32px;">
      <%= link_to "ADD TO CALENDAR", "#", class:"plans-btn"  %>
    </div>
    <!-- Map -->
    <div style="margin-top: 32px;">
      <h2>MAP</h2>
      <div style="width: 100%; height: 200px; margin-top: 16px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>">
      </div>
      <!-- Friends -->
      <div style="margin-top: 32px;">
        <h2>FRIENDS GOING</h2>
      </div>
      <div class="plans-avatar-container" style="margin-bottom: 32px;">
        <% @plan.users.each do |user| %>
          <div class="avatar-circle">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar-photo"  %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar-photo" />
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grid-6">
    <%= link_to "BACK", user_plans_path(current_user), class: "plans-btn", style: "display: flex; width: 90%; justify-content: center; align-items: center;" %>
  </div>
</div>
