<!-- app/views/shared/_navbar.html.erb -->
<nav class="navbar navbar-light navbar-custom">
  <div class="container">
    <ul class="navbar-nav w-100">
      <!-- Home Icon -->
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>
          <i class="fa-solid fa-house"></i>
          <span class="nav-text">Home</span>
        <% end %>
      </li>

      <!-- Active Plans Icon -->
      <li class="nav-item">
        <%= link_to plans_path, class: 'nav-link' do %>
          <i class="fa-solid fa-calendar-check"></i>
          <span class="nav-text">Plans</span>
        <% end %>
      </li>

      <!-- Profile Icon -->
      <li class="nav-item">
        <%= link_to edit_user_registration_path, class: 'nav-link' do %>
          <% if user_signed_in? %>
            <% if current_user.photo.attached? %>
              <%= image_tag current_user.photo, class: "avatar" %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
            <% end %>
          <% else %>
            <i class="fa-solid fa-user"></i>
            <span class="nav-text">Profile</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
