
    <div class="grid-container">

      <div class="grid-6">
        <h1><span class="h1-white">YOU'VE BEEN <br>
          INVITED TO</span><br>
          <span class="big-text">MAKE PLANS TONIGHT!</h1>
        <p>Answer the poll to help make plans.</p>
      </div>

    <!-- FORM -->
    <%= simple_form_for [@plan, @poll], url: plan_polls_path(@plan), method: :post, html: { class: 'grid-6' } do |f| %>

      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

      <!-- Hidden Field for Submitted Status -->
      <%= f.input :submitted, as: :hidden, input_html: { value: 'true' } %>

      <!-- QUESTION 1 -->
      <h2 style="margin-top: 24px">WHAT VIBE ARE YOU FEELING?</h2>
        <%= render 'polls/mood', f: f %>

      <!-- QUESTION 2 -->
      <h2 style="margin-top: 24px">WHAT ARE YOU DRINKING?</h2>
          <%= render 'polls/alcohol', f: f %>

      <!-- SUBMIT -->
      <div class="form-group">
        <%= f.button :submit, 'Make plans', class: 'plans-btn grid-6', style: 'margin-top: 16px;' %>
      </div>

      <% end %>
    </div>
