<div class="container show-title">
  <div class="confirmation-container" style="padding-top: 64px;">
    <div class="show-title">
      <div style="display: flex; align-items: center; white-space: nowrap;">
        <h1 class="yellow-text" style="margin-bottom: 32px;">
        Plans Tonight</h1>
      </div>
      </div>
    </div>
  <div style="margin-bottom: 16px;">
    <h2>Log in</h2>
  </div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions plans-btn" style="margin-top: 16px;">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<div style="margin-top: 16px;">
<%= render "devise/shared/links" %>
</div>
</div>
