<div class="grid-container">

  <div>
    <h1 class="big-text"> YOUR<br>
    PLANS!</H1>
  </div>


  <div class="grid-6">
    <h2>BREWING PLANS</h2>

    <% if @pending_plans.any? %>
    <% @pending_plans.order('created_at DESC').each do |plan| %>
      <div>
        <%= link_to plan_path(plan), class: 'card-btn' do %>
          <div>
            <div class="plan-card" style="font-family: 'Poppins', sans-serif;">
              <h5 style="font-family: 'Poppins', sans-serif;"> PLANS FOR <span class="plans-yellow"><%= plan.date_time.strftime("%B %d").upcase %></span></h5>
              <p class="card-text" style="font-family: 'Poppins', sans-serif; margin-top: 8px;">FRIENDS GOING</p>
              <div class="friends-plan-index">
                <% plan.users.first(5).each do |user| %>
                  <div class="avatar-circle-small">
                    <% if user.photo.attached? %>
                      <%= cl_image_tag user.photo.key, class: "avatar-photo" %>
                    <% else %>
                      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar-photo" />
                    <% end %>
                  </div>
                <% end %>
                <% if plan.users.count > 5 %>
                  <div class="avatar-circle-small">
                    <i class="fa-solid fa-circle-plus" style="color: #161616;"></i>
                  </div>
                <% end %>
              </div>
              <p class="card-text" style="font-family: 'Poppins', sans-serif; margin-top: 16px;">THIS PLAN IS STILL BREWING</p>
              <div
              data-controller="countdown"
              data-countdown-deadline-value="<%= plan.deadline.present? ? plan.deadline.strftime('%Y-%m-%dT%H:%M:%S') : '' %>">
                <div data-countdown-target="countdown"></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= link_to new_plan_path, class: 'card-link' do %>
        <div class = card>
          <p class ="poppy-text" data-controller="poppy-text" data-poppy-text-target="text">
            No plans are brewing!
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Upcoming Plans (Completed) -->
  <div class="grid-6">
    <h2 style="margin-top: 24px;">UPCOMING PLANS</h2>
    <% if @done_plans.any? %>
      <% @done_plans.order('created_at DESC').each do |plan| %>
        <div class="col-md-4">
          <%= link_to plan_path(plan), class: 'card-btn' do %>
            <div class="card" style="box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);">
              <%= image_tag plan&.bar&.photo&.attached? ? url_for(plan.bar.photo) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg', alt: 'plan photo', class: 'card-img-top' %>
              <div class="card-body" style="margin-top: 12px;">
                <% if plan.bar %>
                  <h5 class="card-title" style="font-family: 'Poppins', sans-serif;"><%= plan.bar.name %></h5>
                  <% if plan.date_time < DateTime.now + 1.week %>
                    <h6 class="card-title" style="font-family: 'Poppins', sans-serif;"><%= plan.date_time.strftime("%A at %I:%M%p") %></h5>
                  <% else %>
                    <h6 class="card-title" style="font-family: 'Poppins', sans-serif;"><%= plan.date_time.strftime("%F at %I:%M%p") %></h5>
                  <% end %>
                <% end %>
                <p class="card-text">FRIENDS GOING</p>
                <div class="friends-plan-index">
                  <% plan.users.first(5).each do |user| %>
                    <div class="avatar-circle-small">
                      <% if user.photo.attached? %>
                        <%= cl_image_tag user.photo.key, class: "avatar-photo" %>
                      <% else %>
                        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar-photo" />
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class = card>
        <p class ="poppy-text" data-controller="poppy-text" data-poppy-text-target="text">
          There are no upcoming plans!
        </p>

    </div>
      <div class="grid-6">
        <%= link_to 'Home', root_path, class: 'plans-btn', style: 'margin-top: 16px;' %>

      </div>
    <% end %>
  </div>

    <!-- Home button -->
  <div class="grid-6">
    <%= link_to 'Home', root_path, class: 'plans-btn' %>
  </div>
</div>
