<%# <div class="plans-index-container">
    <div class="plans-list-element">
    <h1>Brewing Plans</h1>

      <div class="card-plan-list">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-plan-list-infos">
          <h2>plan-list name</h2>
          <p>plan-list description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

    <div class="plans-list-element">
      <h1>Upcoming Plans</h1>
      <div class="card-plan-list">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-plan-list-infos">
          <h2>plan-list name</h2>
          <p>plan-list description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div> %>
<!-- Brewing Plans (pending) -->
<div class="grid-container">

  <div>
    <h1 class="big-text"> YOUR<br>
    PLANS</H1>
  </div>


  <div class="grid-6">

    <h2>BREWING PLANS</h2>
    <% @pending_plans.each do |plan| %>
      <div>
        <%= link_to plan_path(plan), class: 'card-btn' do %>
          <div>
            <div class="plan-card">
              <h5> PLANS FOR <span class="plans-yellow"><%= plan.date_time.strftime("%B %d").upcase %></span></h5>
              <p class="card-text">THIS PLAN IS STILL BREWING</p>
              <p class="card-text">FRIENDS GOING</p>
              <div class="friends-plan-index">
                <% plan.users.first(5).each do |user| %>
                  <div class="avatar-circle-small">
                    <% if user.photo.attached? %>
                      <%= cl_image_tag user.photo.key, class: "avatar-photo" %>
                    <% else %>
                      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar-photo" />
                    <% end %>
                  </div>
                <% end %>
                <% if plan.users.count > 5 %>
                  <div class="avatar-circle-small">
                    <i class="fa-solid fa-circle-plus" style="color: #161616;"></i>
                  </div>
                <% end %>
              </div>
              <div
              data-controller="countdown"
              data-countdown-deadline-value="<%= plan.deadline.present? ? plan.deadline.strftime('%Y-%m-%dT%H:%M:%S') : '' %>">
                <div data-countdown-target="countdown"></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- Upcoming Plans (Completed) -->
  <div class="grid-6">
    <h2 style="margin-top: 24px;">UPCOMING PLANS</h2>
      <% @done_plans.each do |plan| %>
        <div class="col-md-4">
          <%= link_to plan_path(plan), class: 'card-btn' do %>
            <div class="card">
              <%= image_tag plan&.bar&.photo&.attached? ? url_for(plan.bar.photo) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg', alt: 'plan photo', class: 'card-img-top' %>
              <div class="card-body">
                <% if plan.bar %>
                  <h5 class="card-title"><%= plan.bar.name %></h5>
                  <h6 class="card-title"><%= plan.date_time.strftime("%F at %I:%M%p") %></h5>
                  <!-- <p class="card-text"><strong>Address:</strong> <%= plan.bar.address %></p>
              <p class="card-text"><strong>Mood:</strong> <%= plan.bar.mood %></p>
              <p class="card-text"><strong>Price:</strong> <%= plan.bar.price %></p>
              <p class="card-text"><strong>Alcohol:</strong> <%= plan.bar.alcohol %></p>
              <% end %>
              <h6 class="mt-4">Polls Information</h6>
              <% plan.polls.each do |poll| %>
                <p><%= poll.mood %> mood, <%= poll.alcohol %> alcohol preference, <%= poll.smoking ? 'Smoking allowed' : 'No smoking' %></p>
              <% end %> -->
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="grid-6">
        <%= link_to 'Home', root_path, class: 'plans-btn', style: 'margin-top: 24px;' %>
      </div>
    </div>
