<html class="bg">
  <body>
    <div class="grid-container">

      <div class="grid-6">
        <h1>MAKE YOUR PLANS TONIGHT!</h1>
      </div>

      <!-- SELECT DATE & TIME -->
      <div class="grid-6">
        <h2 style="margin-top: 24px">SELECT TIME & DATE</h2>
      </div>
      <div class="grid-6">
        <%= form_with model: @plan, local: true do |form| %>
            <div class="input-group">
              <%= form.text_field :deadline, class: "form-control datetime-picker", placeholder: "Select Date & Time", "data-controller": "date-picker" %>
            </div>
          </div>
        <% end %>
      <!-- SELECT DATE & TIME END -->


    <%# <div class="grid-6" style="margin-top: 24px;"> %>

      <%= simple_form_for @plan, html: { class: 'grid-6' }  do |f| %>



        <%= f.simple_fields_for :polls do |poll_form| %>
          <%= poll_form.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

          <!-- QUESTION 1 -->
          <h2 style="margin-top: 24px">WHAT VIBE ARE YOU FEELING?</h2>
            <%= render 'polls/mood', f: poll_form %>

          <!-- QUESTION 2 -->
          <h2 style="margin-top: 24px">WHAT ARE YOU DRINKING?</h2>
            <%= render 'polls/alcohol', f: poll_form %>

          <!-- QUESTION 3 -->
          <h2 style="margin-top: 24px">WILL YOU SMOKE?</h2>
            <%= render 'polls/smoking', f: poll_form %>

          <!-- QUESTION 4 -->
          <h2 style="margin-top: 24px">DO YOU WANT TO EAT THERE?</h2>
            <%= render 'polls/food', f: poll_form %>

          <!-- SUBMIT -->
          <% end %>

        <div class="form-group">
          <%= f.button :submit, 'INVITE FRIENDS', class: 'plans-btn grid-6', style: 'margin-top: 16px;' %>
        </div>

      <% end %>

    </div>
  </body>
  <%# <script>
  function getJapanTime() {
    const now = new Date();
    const utcOffset = now.getTimezoneOffset() * 60000; // Offset in milliseconds
    const japanOffset = 9 * 60 * 60000; // Japan offset in milliseconds
    return new Date(now.getTime() + utcOffset + japanOffset);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const japanTime = getJapanTime();

    flatpickr(".datetime-picker", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      altInput: true,
      altFormat: "F j, Y - H:i",
      time_24hr: true,
      minDate: japanTime,
      defaultDate: japanTime,
    });
  });
  </script> %>
</html>
